.alert {
  border-radius: 5px;
  padding: 5px;
}

.alert-info {
  color: var(--info-alert-color);
  border: var(--info-alert-color) 1px solid;
}

.alert-error {
  margin-top: 5px;
  color: var(--error-alert-color);
  border: var(--error-alert-color) 1px solid;
}
