@import "./header.css";
@import "./alert.css";
@import "./forms.css";

:root {
  --main-bg-color: #684028;
  --submit-button-background: #bdbcbb;
  --checkbox-selected-background: #575554;

  --main-text-color: #F5F3F4; 
  --secondary-text-color: #D3A075;

  --info-alert-color: #4fe05b;
  --error-alert-color: #e0524f;
}

@font-face {
  font-family: Nunito;
  src: url(/fonts/NunitoSans-Light.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: var(--secondary-text-color);
}

h1,h2,h3 {
  color: var(--secondary-text-color);
}

body {
  color: var(--main-text-color);
  background: var(--main-bg-color);
  font-family: Nunito;

  padding: 5px;
}

p,ul {
  font-size: 16px;
}

p,h1,h2,h3,h4,ul {
  margin-top: 10px;
}

ul {
  margin-left: 16px;
}

.content {
  margin-left: auto;
  margin-right: auto;

  max-width: 1000px;
  border-radius: 5px;
  padding: 5px;
}

.container {
  padding: 5px 8px 20px 20px;
  line-height: 1.7em;
}

.banner {
  width: 100%;
}

.body-image {
  width: 50%;

  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-width: 480px) {
  .body-logo {
    width: 100%;
  }
  .container {
    padding: 5px;
  }
}