.post {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: var(--secondary-bg-color); 
  overflow-wrap: break-word;
  hyphens: auto;
}

.comment {
  margin-top: 8px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: var(--primary-bg-color); 
  overflow-wrap: break-word;
  hyphens: auto;
}