<main class="container">
  <%= if get_flash(@conn, :info) do %>
    <div class="alert alert-info">
      <%= get_flash(@conn, :info) %>
    </div>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
    <div class="alert alert-error">
      <%= get_flash(@conn, :error) %>
    </div>
  <% end %>
  <%= @inner_content %>
</main>
