<main class="container">
  <%= if x=get_flash(@conn, :info) do %>
    <div class="alert alert-info">
      <%= x %>
    </div>
  <% end %>
  <%= if x=get_flash(@conn, :error) do %>
    <div class="alert alert-error">
      <%= x %>
    </div>
  <% end %>
  <%= @inner_content %>
</main>
