<h1>Personal Projects</h1>

<h3><%= link "Timecard Tracker", to: Routes.punch_path(@conn, :index) %></h3>
<p>
This small application is a timecard tracker that I use to track my hours for work as an independent contractor. If you have an account
on my site, you also have access to it!
</p>