<h1>Show Comment</h1>

<ul>

  <li>
    <strong>User:</strong>
    <%= @comment.user_id %>
  </li>

  <li>
    <strong>Body:</strong>
    <pre><%= @comment.body %></pre>
  </li>

</ul>

<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span> |
<span><%= link "Back", to: Routes.comment_path(@conn, :index) %></span>
